/* Generic */
html,body {
  min-height: 100%;
}

div.fullheight > div {
  clear:both;
}

.spacer {
  clear:both;
}

.rounded-border {
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
}